.contenedor {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  flex-direction: column;
  justify-content: space-around;
}

input,
button {
  margin-left: 1rem;
}

select {
  margin-left: 1rem;
  margin-right: 1rem;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.raise {
  --color: #c9c9c9;
  --hover: #3aa048;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em 0 0 1em;
  padding: 0.2em 0.2em;
}
