.contenedor {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  flex-direction: column;
  justify-content: space-around;
}

input,
button {
  margin-left: 1rem;
}

select {
  margin-left: 1rem;
  margin-right: 1rem;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.raise {
  --color: #c9c9c9;
  --hover: #3aa048;
}

.select,
.input {
  padding: 6px;
  font-size: auto;
  border-width: 3.2px;
  border-color: #418f54;
  background-color: #ffffff;
  color: #343434;
  border-style: solid;
  border-radius: 23px;
  box-shadow: -1px 0px 3px rgba(7, 7, 7, 0.32);
  text-shadow: -50px 0px 0px rgba(139, 57, 57, 0);
  outline: none;
}
