.fondo {
  background-image: url("../../Utils/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.nav {
  display: flex;
  background-color: #5a263b83;
  height: 4rem;
}

.button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #80ed99;
}
.button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.button:hover:after {
  opacity: 1;
  right: 10px;
}
.button:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
